.footer {
  padding: 55px 0 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.container__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 156px;
}

.footer__title {
  flex-basis: 980px;
  margin: 0 auto 40px;
}

.contacts__list {
  max-width: 370px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.address svg,
.phone svg,
.envelope svg {
  margin-right: 30px;
}

.social__icons {
  display: flex;
}

.social__icons li + li {
  margin-left: 26px;
}

.social__item {
  list-style: none;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  color: #ffffff;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 50%;
}

svg {
  max-width: 100%;
  height: 100%;
}

.social__link:hover {
  color: #cd06ff;
}

.social__link:focus {
  outline-color: #cd06ff;
  color: #cd06ff;
}

.social__link:active {
  color: #840aa3;
}

.contacts__map {
  width: 680px;
  height: 274px;
  background: #fff;
}

.container__data {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__design {
  text-align: right;
}

.design__name {
  margin-bottom: 6px;
}
