.form {
  background-color: var(--fag-bg);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 50px;
}

fieldset {
  border: none;
}

.checked__halls {
  margin-bottom: 60px;
  padding: 0;
}

.form__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.checked__list {
  display: flex;
  justify-content: space-between;
}

.check__halls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  transition: all .3s;
}

.check__halls:hover {
  background: var(--social-hover);
  border: 3px solid var(--form-acive);
}

.check__halls:active{
  background: var(--bg-hover);
  border: 3px solid var(--color-light);
  color: var(--color-light);
}

.check__halls:focus {
  background: var(--color-light);
  border: 3px solid var(--form-acive);
  color: var(--color-dark);
}

.checked__item .check__input:checked+.check__halls {
  background: #6C0287;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
}

.checked__kit {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
  padding: 0;
}

.checked__block {
  padding: 0;
}

.block__list {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}

.block__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  border-radius: 50px;
}

.block__item label {
  display: flex;
  align-items: center;
}

.block__item:not(:last-child) {
  margin-bottom: 21px;
}

.block__item input[type="radio"] {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  outline: 1px solid transparent;

}

.block__item input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.block__item input:focus {
  outline: 1px solid var(--bg-normal);
}

.form__data {
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.data__box {
  display: flex;
  justify-content: space-between;
}

.data__wrap {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.data__list {
  display: flex;
  justify-content: space-between;
  gap: 36px 50px;
  margin-bottom: 40px;
}

.data__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 300px;
  gap: 12px;
}

.data__item input {
  width: 300px;
  height: 52px;
  padding: 0 20px;
  border: none;
  margin-top: 6px;
}

.data__item input:focus {
  outline: 2px solid var(--bg-normal);
}

.data__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.data__item-name,
.data__name,
.data__surname {
  width: 280px;
}

.data__item .data__date {
  width: 134px;
  height: 52px;
}

.data__item .date__time {
  width: 134px;
  height: 52px;
}

.date__people {
  width: 300px;
  height: 52px;
}

.label-date {
  position: relative;
}

.data__icon {
  position: absolute;
  right: 19px;
  top: 0;
  bottom: 0;
}

.data__date::placeholder,
.date__time::placeholder,
.date__people::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-placeholder);
}

.form__btn {
  width: 300px;
  height: 60px;
  background: var(--color-light);
  border: 3px solid var(--color-light);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--bg-hover);
  display: block;
  margin-left: auto;
  transition: all .3s;
}

.form__btn:hover {
  background: var(--social-hover);
  border: 3px solid var(--form-normal);
}

.form__btn:focus {
  background: var(--color-light);
  border: 3px solid var(--form-normal);
}

.form__btn:active {
  background: var(--social-hover);
  border: none;
}

@media (max-width: 1200px) {
   .form {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 70px;
  }

  .form__title {
    margin-bottom: 25px;
  }

  .form__subtitle {
    margin-bottom: 26px;
  }

  .checked__halls {
    margin-bottom: 60px;
    padding: 0;
  }

  .check__halls {
    width: 180px;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 6px;
  }

  .checked__kit {
    max-width: 904px;
  }

  .block__list {
    width: 250px;
  }

  .form__data {
    max-width: 904px;
  }

  .data__list {
    margin-bottom: 50px;
  }

  .data__item {
    width: 254px;
  }

  .data__item input {
    width: 100%;
  }

  .data__box {
    width: 300px;
  }

  .data__box .date__people {
    width: 300px;
  }

  .data__item-name,
  .data__name,
  .data__surname {
    width: 251px;
  }

  .form__btn {
    width: 254px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 980px) {
  .data__item {
    width: 300px;
  }

  .data__item-email {
    width: 300px;
  }

  .data__list {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .data__box {
    max-width: 980px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .label-date:not(:last-child) {
    margin-right: 14px;
  }

  .data__wrap {
    width: 280px;
  }

  .label-date__people {
    margin-left: auto;
    display: inline-block;
    width: 300px;
  }

  .data__item-name {
    width: 280px;
  }

  .data-box__name {
    width: 280px;
  }

  .form__btn {
    width: 300px;
    height: 60px;
    font-size: 22px;
    line-height: 28px;
  }
}
@media (max-width: 860px) {
  .form {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
  }

  .form__title {
    margin-bottom: 40px;
  }

  .form__subtitle {
    margin-bottom: 30px;
  }

  .check__halls {
    width: 150px;
    height: 38px;
    font-size: 16px;
    line-height: 20px;
  }

  .checked__list {
    flex-wrap: wrap;
    gap: 14px 20px;
  }

  .checked__kit {
    max-width: 860px;
    flex-wrap: wrap;
    gap: 32px;
  }

  .block__list {
    width: 321px;
  }

  .block__item input[type="radio"] {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .block__item input[type="checkbox"] {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .form__data {
    max-width: 860px;
  }

  .data__list {
    column-gap: 15px;
  }
}

@media (max-width: 480px) {
  .form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .form__title {
    margin-bottom: 13px;
  }

  .form__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .checked__halls {
    margin-bottom: 30px;
  }

  .checked__list {
    gap: 14px 20px;
  }

  .check__halls {
    width: 130px;
    height: 30px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
  }

  .checked__kit {
    max-width: 480px;
    gap: 25px;
  }

  .block__list {
    width: 321px;
  }

  .block__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .block__item {
    font-size: 16px;
    line-height: 18px;
  }

  .block__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .block__item input[type="radio"] {
    width: 30px;
    height: 30px;
  }

  .block__item input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }

  .data-box__name,
  .data-box__surname,
  .data__item-email,
  .data__item-tel {
    min-width: 280px;
    width: 100%;
  }

  .data__item {
    min-width: 280px;
    width: 100%;
  }

  .data__box {
    min-width: 280px;
  }

  .data__wrap {
    min-width: 280px;
    width: 100%;
    justify-content: space-between;
  }

  .label-date {
    width: 134px;
  }

  .label-date__people {
    min-width: 280px;
    width: 100%;
  }

  .data__box .date__people   {
    min-width: 280px;
    width: 100%;
  }

  .form__btn {
    min-width: 280px;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
  }
}
