.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__btn {
  max-width: 280px;
  width: 100%;
  background: transparent;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  padding: 12px;
  transition: all .3s;
}

.header__btn:hover {
  background: #6C0287;
  border: 3px solid #6C0287;
}

.header__btn:focus {
  background: #6C0287;
}

.header__btn:active {
  background: #640AA3;
  border: 1px solid #000000;
}
