.hero {
  margin-bottom: 100px;
}

.hero__container {
  height: 823px;
  position: relative;
}

.hero__container:after {
  content: "";
  position: absolute;
  height: 762px;
  width: 675px;
  background-image: url(../image/bg.png);
  background-repeat: no-repeat;
  right: 30px;
  bottom: 0;

}

.hero__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -0.1em;
}

.hero__subtitle {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  margin-bottom: 30px;
}

.hero__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 428px;
  width: 100%;
  margin-bottom: 150px;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 210px;
}

.hero-number {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: #CD06FF;
}

.hero__inner span {
  margin-top: auto;
}

.hero__inner p {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}

.hero-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 42px;
  line-height: 106px;
  font-variant: small-caps;
  color: #CD06FF;
}

.hero__btn {
  width: 374px;
  height: 80px;
  background: #6C0287;
  border-radius: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  transition: all .3s;
}

.hero__btn:hover {
  background: #840AA3;
}

.hero__btn:focus {
  background: #840AA3;
}

.hero__btn:active {
  background: #640AA3;
}

.hero__btn-link {
  padding: 25px 69px;
  outline: none;
}

.hero__arrow {
  position: absolute;
  width: 97px;
  height: 97px;
  bottom: 90px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  outline: 1px solid transparent;
  color: transparent;
  stroke: #FFFFFF;
}

.arrow-down {
  transition: all .1s;
}

.hero__arrow:hover {
  fill: #FFFFFF;
  stroke: #6C0287;
  color: #FFFFFF;
  border-color: transparent;
}

.hero__arrow:focus {
  outline-color: #CD06FF;
}

.hero__arrow:active {
  color: #CD06FF;
  stroke: #FFFFFF;
  border-color: #CD06FF;
}
