.relaxation {
  margin-bottom: 170px;
}

.relaxation__title {
  width: 800px;
  margin: 0 auto 41px;
}

.relaxation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
}

.relaxation__item {
  position: relative;
  width: 380px;
  height: 228px;
  transition: all .3s;
}

/*.relaxation__item:nth-child(2n) {*/
/*  bottom: -70px;*/
/*}*/

/*.relaxation__item:nth-child(5n) {*/
/*  bottom: -70px;*/
/*}*/

.relaxation__text {
  position: absolute;
  left: 40px;
  top: 166px;
  white-space: pre-line;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.vr-glasses {
  background-image: url(../image/rel1.jpg);
}

.audio-system {
  background-image: url(../image/rel2.jpg);
  bottom: -70px;
}

.karaoke {
  background-image: url(../image/rel3.jpg);
}

.board-games {
  background-image: url(../image/rel4.jpg);
}

.cinema-services {
  background-image: url(../image/rel5.jpg);
  bottom: -70px;
}

.plаy-stаtiоn {
  background-image: url(../image/rel6.jpg);
}

.relaxation__item:hover {
  transform: scale(1.1);
}
